<form ng-submit="submit()" ng-controller="LoginController" class="advanced-filters">
    <div class="row controls">
        <div class="col-md-3">
            <label for="username">User:</label>
        </div>
        <div class="col-md-9">
            <input type="text" id="username" name="username" ng-model="username" placeholder="User" required="required"/>
        </div>
    </div>
    <div class="row controls">
        <div class="col-md-3">
            <label for="password">Password:</label>
        </div>
        <div class="col-md-9">
            <input type="password" id="password" name="password" ng-model="password" placeholder="Password" required="required"/>
        </div>
    </div>
    <div class="row controls">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-9">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>