ul {
    padding-left: 0;
    list-style-type: none;
}

.container {
    margin-top: 20px;
}

.filters input[type="text"], .advanced-filters input[type="text"], .advanced-filters input[type="password"], .advanced-filters select, .contact-details input[type="text"], .contact-details select {
    width: 100%;
}

.contact-list {
    margin-top: 20px;
}

.group-letter {
    font-weight: bold;
}

.ngdialog.ngdialog-theme-default {
    position: absolute;
    left: 10%;
    top: 10%;
}

.advanced-filters .name-filter, .advanced-filters .group-filter, .advanced-filters .controls,
.contact-details .name-filter, .contact-details .group-filter, .contact-details .controls {
    margin-top: 20px;
}

.contact-actions {
    margin-top: 50px;
}