<div class="contact-details">
    <div class="row">
        <div class="col-md-12 name-filter">
            <label>
                First name:<br />
                <input type="text" ng-model="tempContact.first_name" placeholder="First name" />
            </label>
        </div>
        <div class="col-md-12 name-filter">
            <label>
                Last name:<br />
                <input type="text" ng-model="tempContact.last_name" placeholder="Last name" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 group-filter">
            <label>
                Group:<br />
                <select ng-model="tempContact.group">
                    <option value="friends" selected="selected">Friends</option>
                    <option value="family">Family</option>
                    <option value="work">Work</option>
                    <option value="others">Others</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 controls">
            <div class="pull-right">
                <button ng-click="saveContact() && closeThisDialog()" class="btn btn-primary">Save</button>
                <button ng-click="closeThisDialog()" class="btn btn-primary">Cancel</button>
            </div>
        </div>
    </div>
</div>