<div class="contact-details">
    <div class="row">
        <div class="col-md-12 name-filter">
            Are you sure you want to delete {{ tempContact.first_name }} {{ tempContact.last_name }}?
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 controls">
            <div class="pull-right">
                <button ng-click="deleteContact() && closeThisDialog()" class="btn btn-primary">Yes</button>
                <button ng-click="closeThisDialog()" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>