<div class="advanced-filters">
    <div class="row">
        <div class="col-md-12 name-filter">
            <label>
                Filter by name:<br />
                <input type="text" ng-model="filter.name" placeholder="Name" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 group-filter">
            <label>
                Filter by group:<br />
                <select ng-model="filter.group">
                    <option value="">Any</option>
                    <option value="friends">Friends</option>
                    <option value="family">Family</option>
                    <option value="work">Work</option>
                    <option value="others">Others</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 controls">
            <div class="pull-right">
                <button ng-click="filterContacts() && closeThisDialog()" class="btn btn-primary">Filter</button>
                <button ng-click="closeThisDialog()" class="btn btn-primary">Cancel</button>
            </div>
        </div>
    </div>
</div>