<div class="row">
    <div class="col-md-3">
        <div class="row filters">
            <div class="col-md-12">
                <input type="text" ng-model="filter.name" ng-keyup="filterContacts()" placeholder="Filter" />
                <div class="clearfix">
                    <div class="pull-right">
                        <a href="javascript:void(null);" ng-click="showFilterDialog($event);">Advanced filter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row contact-list">
            <div class="col-md-12">
                <ul>
                    <li ng-repeat="(key, items) in groupedContacts">
                        <span class="group-letter">{{ key }}</span>
                        <ul>
                            <li ng-repeat="item in items">
                                <a ng-href="/contacts/{{ item._id }}">{{ item.first_name }} {{ item.last_name }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row contact-list">
            <div class="col-md-12">
                <button ng-click="showContactDialog()" class="btn btn-primary">Add new contact</button>
            </div>
        </div>
        <div class="row contact-list">
            <div class="col-md-12">
                <a href="javascript:void(null);" ng-click="logout()">Logout</a>
            </div>
        </div>
    </div>
    <div class="col-md-9" ng-if="selectedContact._id">
        <div class="contact-details">
            <h1>{{ selectedContact.first_name }} {{ selectedContact.last_name }}</h1>
            <div class="group">{{ selectedContact.group }}</div>
        </div>
        <div class="contact-actions">
            <button ng-click="showContactDialog(selectedContact._id)" class="btn btn-primary">Edit contact</button>
            <button ng-click="showContactDeleteDialog(selectedContact._id)" class="btn btn-primary">Delete contact</button>
        </div>
    </div>
</div>